@page
@model IndexModel
@{
    ViewData["Title"] = "Accounts";
}

<style>
    table {
        width: 100%;
    }
    table.table th, table.table td {
            padding: 0.2rem;
            vertical-align: middle;
    }


    .accounts_actions {
        width: 10rem;
    }
    .hide {
        display:none;
    }
</style>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Active accounts</h6>
    </div>
    <p id="message">
        @Model.Message
    </p>
    <div class="card-body ">
        <div class="top-50">
            <a href="#" class="btn btn-warning" onclick="accountsPage.handle_CaptureAccounts()">
                Capture accounts list
            </a>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Is Online</th>
                        <th>Is scheduled</th>
                        <th class="accounts_actions">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {
                        <tr>

                            <td class="@{
                            if(account.Status == BotAccountStatus.Online)
                                        Write("border-left-success");
                                    else Write("border-left-danger");
                                }">
                                @account.Name
                            </td>
                            <td>@account.Status</td>
                            <td>@(account.IsScheduled ? "Yes" : "No")</td>
                            <td class="accounts_actions" data-name="@account.AccountNumber">
                                <a href="#" class="btn btn-primary @Model.RenderHideClass(account.IsScheduled)" onclick="accountsPage.handle_Schedule(this);return false;">
                                    Schedule
                                </a>
                                <a href="#" class="btn btn-danger @Model.RenderHideClass(!account.IsScheduled)" onclick="accountsPage.handle_Unschedule(this)">
                                    Unschedule
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
